<div
  class="bg-gray-900 h-[40rem] w-full flex flex-col justify-evenly items-center text-white"
>
  <h1 class="text-3xl">Why HTML Components?</h1>
  <div class="w-full h-96 flex justify-evenly">
    <card data-include="./components/card.html">
      <i class="fa-solid fa-file text-4xl"></i>
      <h1 class="text-2xl">
        Distribute code between different files for easier editing.
      </h1>
    </card>
    <card data-include="./components/card.html">
      <i class="fa-solid fa-gear text-4xl"></i>
      <h1 class="text-2xl">
        No configuration needed, just add the script and you're good to go.
      </h1>
    </card>
    <card data-include="./components/card.html">
      <i class="fa-solid fa-bolt-lightning text-4xl"></i>
      <h1 class="text-2xl">
        Lightning fast, low page load times, and no extra dependencies.
      </h1>
    </card>
    <card data-include="./components/card.html">
      <i class="fa-solid fa-plug text-4xl"></i>
      <h1 class="text-2xl">Works with frameworks like Tailwind</h1>
    </card>
  </div>
</div>
