<div class="flex-16 bg-gray-800 p-8 text-white">
  <div class="space-y-8 flex flex-col flex-1">
    <h1 class="text-4xl">Components</h1>
    <div class="space-y-4">
      <div class="space-y-4 bg-gray-800 brightness-75 p-2 rounded-lg">
        <h2 class="text-2xl">Initial setup</h2>
        <div class="flex flex-col justify-between space-y-8">
          <p class="text-xl">
            With the prerequisites met we can start using HTML Components. First
            we need to include the script in our index.html file. We do this by
            adding the following line to the end of the body tag in our
            index.html file:
          </p>
          <!--<img src="./imgs/carbon.png" alt="" class="rounded-lg" />-->
        </div>
      </div>
      <div class="space-y-4 bg-gray-800 brightness-75 p-2 rounded-lg">
        <h2 class="text-2xl">Creating a component</h2>
        <div class="flex flex-col justify-between space-y-8">
          <p class="text-xl">
            Now that we have included the script in our index.html file we can
            start creating components. We do this by creating a new file in our
            components folder. We will call this file "firstcomponent.html". In
            this file we will make a paragraph with the text "This is my first
            component!". We will also add styling with a style.css file in our
            src folder. The style.css file will look like this:
          </p>
          <!--<img src="./imgs/firstcomponentcss.png" alt="" class="rounded-lg" /> -->
          <p class="text-xl">
            Now that we have created the style file, we can create the component
            and add the styling to it. The component will look like this:
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
