<div class="flex-1 bg-gray-800 pl-8 pr-8 pt-8 text-white" id="components">
  <div class="space-y-8 flex flex-col flex-1">
    <h1 class="text-4xl">Components</h1>
    <div class="space-y-4">
      <div class="space-y-4 bg-gray-900 p-2 rounded-lg">
        <h2 class="text-2xl">Initial setup</h2>
        <div class="flex flex-col justify-between space-y-8">
          <p class="text-xl">
            With the prerequisites met we can start using HTML Components. First
            we need to include the script in our index.html file. We do this by
            adding the following line to the end of the body tag in our
            index.html file:
          </p>
          <img src="./imgs/addscript.png" alt="" class="rounded-lg h-[10%]" />
        </div>
      </div>
      <div class="space-y-4 bg-gray-900 p-2 rounded-lg">
        <h2 class="text-2xl">Creating a component</h2>
        <div class="flex flex-col justify-between space-y-8">
          <p class="text-xl">
            Now that we have included the script in our index.html file we can
            start creating components. We do this by creating a new file in our
            components folder. We will call this file "firstcomponent.html". In
            this file we will make a paragraph with the text "This is my first
            component!". We will also add styling with a style.css file in our
            src folder. The style.css file will look like this:
          </p>
          <img src="./imgs/firstcomponentcss.png" alt="" class="rounded-lg" />
          <p class="text-xl">
            Now that we have created the style file, we can create the component
            and add the styling to it. The component file will be called
            firstcomponent.html and will look like this:
          </p>
          <img src="./imgs/firstcomponenthtml.png" class="rounded-lg" />
        </div>
      </div>
      <div class="space-y-4 bg-gray-900 p-2 rounded-lg">
        <h2 class="text-2xl">Adding component to index.html</h2>
        <div class="flex flex-col justify-between space-y-8">
          <p class="text-xl">
            In the last section we made the component along with the css file
            for it. We will now add it and the style to the main file by using
            the link tag and the data-include attribute like this:
          </p>
          <img src="./imgs/linkedcomponent.png" alt="" class="rounded-lg" />
          <p class="text-xl">And that's it. Here is the end result:</p>
          <img src="./imgs/finalcomponent.png" class="rounded-lg" />
        </div>
      </div>
    </div>
  </div>
</div>
