<div
  class="h-60 w-full bg-gray-800 flex flex-col items-center justify-evenly py-4"
>
  <h1 class="text-white text-2xl">Ready to use HTML components?</h1>
  <span
    ><a href="./script.js" download="script.js"
      ><downloadButton
        data-include="./components/another.html"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >Download</downloadButton
      ></a
    >
    <a href="https://www.youtube.com">
        <docsButton
          data-include="./components/another.html"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          >Documentation</docsButton
    </a>
  </span>
</div>
