<div class="pr-8 pl-8 pt-8 space-y-4 text-white" id="getting-started">
  <h1 class="text-3xl text-white">Getting Started</h1>
  <block data-include="./components/block.html">
    <h2 class="text-2xl">What is HTML Components?</h2>
    <p class="text-xl">
      HTML Components is a lightweight and versatile JavaScript solution for
      including and rendering HTML components dynamically in web pages. It
      allows you to modularize your HTML code into reusable components and load
      them asynchronously at runtime. With its minimalistic approach and
      powerful features, HTML Components simplifies the development and
      maintenance of complex web applications.
    </p>
  </block>
  <block data-include="./components/block.html">
    <h2 class="text-2xl">Installation guide</h2>
    <p class="text-xl">
      Download script and add it to your src folder. (Really, that's all!)
    </p>
    <a href="./script.min.txt" download="script.js">
      <btnComponent data-include="./components/another.html"
        >Download</btnComponent
      >
    </a>
  </block>
  <block data-include="./components/block.html">
    <h2 class="text-2xl">Prerequisites</h2>
    <p class="text-xl">
      The guide expects you to have a basic understanding of HTML. The guide
      will assume that you are familiar with HTML tags, attributes, and syntax.
      If you are not familiar with HTML, you can learn it from
      <a href="https://www.w3schools.com/html/" class="text-green-500"
        >W3Schools</a
      >.
    </p>
    <p class="text-xl">
      In this guide we use a
      <b
        >src folder with the script and an index.html file and a components
        folder</b
      >
      where we will make the components. Note that this setup is not mandatory
      and you can name the files and folders as you like.
    </p>
  </block>
</div>
